<footer class="container">
    <div class="col-lg-12">
        <p class="text-center">
            All the content of this site is copyright ©
            2000-{{ 'now' | date: "%Y" }}
            <a href="https://github.com/irssi">The Irssi project</a>. &emsp;
            <a href="{%
                if site.github
                    %}{{ site.github.tar_url | replace_first: '/tarball/', '/tree/' }}{%
                else
                    %}file://{{ site.source }}{%
                endif
                %}/{%
                if page.relative_path and page.collection == "security_html"
                    %}{{ page.relative_path | replace_first: "_security_html", "_security" }}{%
                elsif page.relative_path
                    %}{{ page.relative_path }}{%
                elsif paginator and paginator.page > 1 %}{%
                    assign temp0 = "/" | append: paginator.page | append: "/"
                    %}{{ page.path | replace_first: temp0, "/" }}{%
                else
                    %}{{ page.path }}{%
                endif
            %}">Source file</a>.
            <br/>{%
            if page.licence and page.licence != "" %}
                This page is licensed under a {{ page.licence | markdownify | strip | split:"</p>" | join:"" | split:"<p>" }}.
{%
            else %}
                Unless otherwise noted, this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
{%
            endif %}
        </p>
    </div>
</footer>
<script src="{{ site.baseurl }}/assets/js/irssi.js"></script>
<script src="{{ site.baseurl }}/assets/js/anchor.js"></script>
<script>
  anchors.options = {
    placement: 'left',
    icon: '#',
    class: 'small'
  }
  anchors.add()
</script>
