<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img alt="Irssi Logo" class="navbar-irssi-logo" src="{{ site.baseurl }}/assets/logo.png">
                {% comment %}{{ site.title }}{% endcomment %}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.url == "/news/index.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/news">News</a></li>
                {% comment %}
                    Exclude the news feed and the paginated news pages.
                {% endcomment %}
                {% capture pageidx %}{% include weighted_sorted_pages.html %}{% endcapture %}{% assign pageidx = pageidx | strip_newlines | split:',' %}
                {% assign ap = site.pages %}
                {% for it in pageidx %}{% assign p_idx = it | times:1 %}{% assign node = ap[p_idx] %}{% comment %}
                {% endcomment %}
                {% if node.categories contains "_nav" %}
                {% if page.url == node.url %}
                <li class="active">
                    <a href="{{ site.baseurl }}{{ node.url }}" class="active">{{ node.title }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li><a href="//irssi-import.github.io/themes/">Themes</a></li>
                <li><a href="http://scripts.irssi.org/">Scripts</a></li>
                <li><a href="https://github.com/irssi/irssi/issues">Bugs</a></li>
            </ul>
            <form class="navbar-form navbar-right gsearch-form" role="search" action="{{ site.baseurl }}/gsearch/">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" required>
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div>
    </div>
</nav>
