<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="page-content">
            <div class="toprule tr-{{page.layout}}"></div>
            <div class="container {{ page.container_class | default: layout.container_class }} {{ page.collection }} {{ page.layout }}">
                <div class="col-xs-12 col-md-12">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
