<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="page-content">
            <div class="container">
                <div class="col-xs-12 col-md-8">
                    {{ content }}
                </div>
                <div class="col-xs-12 col-md-4">
                    <h2>What's this?</h2>
                    <p>
                        You are visiting the official website for the IRC
                        client Irssi, for more information see the about
                        section.
                    </p>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
