<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}
    
    <body>
        {% include header.html %}

        <div class="page-content">
          <div class="container">
	    
	    <br class="clearfix" />
	      <div class="jumbotron flex">
		<div class="row">
		<div class="visible-xs col-xs-1"></div>
		<div class="col-md-6 col-sm-12 col-xs-11">
		  <h1>Irssi</h1>
		  <h2>Chat Client</h2>
		  <p class="center">Your text mode chatting application since 1999.</p>
		  <p class="hidden-xs">IRC built-in. Multi-protocol
		  friendly for module authors.</p>
		  <p class="hidden-xs">Shipped-by-default Perl scripting with a wide
		    range of available extensions.</p>
		  <p class="hidden-xs">Integrates into the UNIX stack: Your window manager, your terminal emulator, your remote connection, your terminal multiplexer, your IRC bouncer, your IRC adapter.
		    <!-- xterm&#8203;/&#8203;gnome-terminal&#8203;/&#8203;konsole&#8203;/&#8203;st, Mosh, SSH, screen&#8203;/&#8203;tmux&#8203;/&#8203;dtach, miau&#8203;/&#8203;znc&#8203;/&#8203;irssi-proxy, minbif&#8203;/&#8203;bitlbee&#8203;/&#8203;XMPP.
		      -->
		  </p>
		  <p class="hidden-xs">Irssi is free software licensed under the GPLv2, available for Linux, BSD, Solaris, Apple, Cygwin, &hellip;</p>
		  <p style="line-height: 3"><a class="btn btn-lg btn-danger" href="/download/" role="button">Getting Irssi »</a>
		    <a class="btn btn-lg btn-info" href="/documentation/" role="button">Read tutorials and docs »</a>
		  </p>
		</div>
		<div class="visible-xs col-xs-1"></div>
		<div class="col-md-6 col-sm-12 col-xs-10 welcome-img">
		  &nbsp;
		</div>
		<div class="visible-xs col-xs-1"></div>
	      </div>
            </div>

	    <div class="row visible-xs">
	      <div class="col-sm-12">
		<h3>What's new</h3>
		{% include sb_whatsnew.html %}
	      </div>
	      <div class="col-sm-4">
		<h3>Protocol support</h3>
		<p>Irssi has built-in support for IRC. It is multi-protocol
		  friendly for module authors and has been extended with ICB, SILC and XMPP modules.</p>
	      </div>
	      <div class="col-sm-4">
		<h3>Stack compatible</h3>
		<p>Irssi fits well into the UNIX stack: it works
		together with your favourite window manager (through
		notification scripts), terminal emulator (be it xterm,
		gnome-terminal, konsole, st or some other emulator),
		your connection enhancer, SSH, terminal multiplexer
		(screen or tmux), background runner (such as dtach),
		IRC bouncers (znc, miau, or Irssi's own irssi-proxy,
		  and IRC adapters (such as bitlbee).</p>
	      </div>
	      <div class="col-sm-4">
		<h3>Free software</h3>
		
		<p>Irssi is free software licensed under the GPLv2, available for Linux, BSD, Solaris, Apple, Cygwin, &hellip;</p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="hidden-xs col-sm-12 col-md-3">
		<h3>What's new</h3>
		{% include sb_whatsnew.html %}
	      </div>
	      <div class="col-sm-4 col-md-3">
		<h3>Themes</h3>
		<p>
		Irssi is completely themeable. Every single message
		can be themed. True colours can be used in your
		themes. Check
		the <a rel="external" href="//irssi-import.github.io/themes/">theme
		gallery</a> for some impressions.</p>
	      </div>
	      <div class="col-sm-4 col-md-3">
		<h3>Modules</h3>
		<p>
		  Irssi makes it easy to write protocol modules in
		  C. You can enjoy the chatting power of Irssi in
		  combination with IRC, ICB or SILC. Find more modules on the <a href="/modules/">Modules</a> page.</p>
	      </div>
	      <div class="col-sm-4 col-md-3">
		<h3>Scripting</h3>
		  <p class="visible-xs">Perl scripting is shipped by
		  default with Irssi, and third-party Python and TCL modules
		  exists as well.</p>
		<p>
		  Irssi features a sane and minimal scripting API
		  together with a coherent signal handling
		  mechanism.
		  There are many existing scripts for
		  Irssi,
		  see <a rel="external" href="https://github.com/shabble/irssi-docs/wiki/Usage#finding-scripts">Finding
		  scripts</a> for some good resources.</p>
	      </div>
	    </div>
          </div>

<script src="/assets/js/welcome.js"></script>
        {% include footer.html %}
    </body>
</html>
