{% capture news_path %}{{ site.paginate_path | replace: ':num', '' | replace: '//', '' }}{% endcapture %}{%
capture news_path_url %}/{{ news_path }}/{% endcapture %}
<li{% include active_class_in.html url=news_path_url %}><a href="{{ site.baseurl }}/{{ news_path }}">News</a></li>
{% include navbar_dynamic.html %}
<li><a href="https://github.com/irssi/irssi">Source Code</a></li>
<li><a href="/themes/">Themes</a></li>
<li><a href="http://scripts.irssi.org/">Scripts</a></li>
<li><a href="https://github.com/irssi/irssi/issues">Bugs</a></li>
<li class="hidden-lg"><a href="{{ site.baseurl }}/gsearch/">Search</a></li>
