{% assign node=include.node %}
{% if node.author or node.date %}
    <p>
        <small>
            Posted {% comment %}
            {% endcomment %}{% if node.author %}{% comment %}
                {% endcomment %}by
                {% if node.web %}
                    <a href="{{ node.web }}">{{ node.author }}</a>
                {% elsif node.email %}
                    <a href="mailto:{{ node.email }}">{{ node.author }}</a>
                {% else %}
                    {{ node.author }}
                {% endif %}
            {% endif %}{% comment %}

            {% endcomment %}{% if node.date %}{% comment %}
                {% endcomment %}{% assign rd = node.date | date: "%-d" %}{% capture ordinalize %}{% include ordinal.html ordinalize=rd %}{% endcapture %}{% comment %}
                {% endcomment %}on {{ node.date | date: "%B %-d" }}<sup>{{ ordinalize | strip_newlines }}</sup>{% comment %}
                {% endcomment %} {{ node.date | date: "%Y" }}
            {% endif %}
        </small>
    </p>
{% endif %}
