{% comment %}

Edit /_data/sb_whatsnew.yml to generate the content of this sidebar

{% endcomment %}{%
for new in site.data.sb_whatsnew %}{%
    assign found = 0 %}{%
    for post in site.posts %}{%
        if post.slug == new.key %}
            <p><small>{{ post.date | date: "%Y-%m-%d" }}</small>&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{%
                    if new.tag
                        %}<b>{{ new.tag }}</b> {%
                    endif %}{%
                    if new.title
                        %}{{ new.title }}{%
                    else
                        %}{{ post.title }}{%
                    endif
            %}</a> </p>{% assign found = 1 %}{%
            break %}{%
        endif %}{%
    endfor %}{%
    if found == 0 %}
        <p class="bg-danger">#error# {{ new.key }} not found</p>{%
    endif %}{%
endfor
%}
