---
layout: page
title: Security
permalink: /security/
categories: [ _nav ]
---
<table class="table">
    <thead>
        <tr class="text-nowrap">
            <th>Links</th>
	    <th>Exploitable by</th>
	    <th>Affected versions</th>
	    <th>Fixed in version</th>
	    <th>Release date</th>
	    <th>Git commit</th>
	    <th>Credit</th>
	    <th>Description</th>
        </tr>
    </thead>
    <tbody>
{% assign advisories = site.data.security %}
{% for advisory in advisories reversed %}
	<tr>
	    <td>{{ advisory.name }}</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>{{ advisory.release_date }}</td>
	    <td><a href="https://github.com/irssi/{% if advisory.repo %}{{ advisory.repo }}{% else %}irssi{% endif %}/commit/{{ advisory.git_commit }}">{{ advisory.git_commit | truncate: 8, "" }}</a></td>
	    <td></td>
	    <td></td>
	</tr>
	{% for bug in advisory.bugs %}
        	<tr>
		    <td class="text-nowrap">
		        {% for link in bug.external_links %}
			<div><a href="{{ link.url }}">{{ link.id }}</a></div>
		        {% endfor %}
		    </td>
		    <td>{{ bug.exploitable_by }}</td>
		    <td>{{ bug.affected_versions }}</td>
		    <td>
			{{ bug.fixed_version }}
		    </td>
		    <td></td>
		    <td></td>
		    <td>{{ bug.credit }}</td>
		    <td>{{ bug.description }}</td>
        	</tr>
	{% endfor %}
{% endfor %}
    </tbody>
</table>

<h2>Reference</h2>

<p>"Exploitable by" column:</p>

<ul>
    <li>
	<b>Server</b>: Triggered by malicious inputs sent by a server with complete control over the connection<br />
	Example: malformed raw IRC commands
    </li>
    <li>
	<b>Client</b>: Triggered by malicious inputs sent by remote clients with no privileges over the network<br />
	Example: malformed color codes inside a message
    </li>
    <li>
	<b>Local users</b>: Exploitable by unprivileged system users with access to the same filesystem<br />
	Example: CVE-2016-7553 (buf.pl information disclosure)
    </li>
    <li>
	<b>Local formats</b>: Exploitable through internal format codes used in themes and configs. These are not normally processed from the network but may be in combination with buggy scripts.<br />
	Example: CVE-2017-5356 (Crash on <code>%[</code>)
    </li>
</ul>
