body {
    padding-top: 50px;
    overflow-y: scroll;
}
/* header bar: 50px */

div.jumbotron {
    padding-top: 16px;
}

.jumbotron h1 {
/*font-size: 36px;*/
    margin-bottom: 0;
}
.jumbotron p {
    font-size: 18px;
}
p {
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.raggedright p {
    text-align: inherit;
    hyphens: inherit;
    -moz-hyphens: inherit;
    -webkit-hyphens: inherit;
    -ms-hyphens: inherit;
}
p.center {
    text-align: center;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.jumbotron h1, .jumbotron h2 {
    line-height: 1;
    margin-top: 0;
    text-align: center;
}

/* center buttons in xs view */
@media (max-width: 767px) {
    .jumbotron .col-xs-11 p {
	text-align: center;
    }
}

/* fix for anchored links to scroll the top bar */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px;
  visibility: hidden;
  position: relative;
  z-index: -1;
  pointer-events: none;
}
*[id]:not(button):not(input):not([href]):not(#navbar) {
  position: inherit;
  /* z-index: -1; */
  /* pointer-events: none; */
}
/* there is this weird issue with above code making links not clickable below anchors... */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: inherit;
}
#___gcse_0:before { display: inline; }
#___gcse_0 div.gsc-adBlock { display: none ! important; }

/* This is for mobile devices and the size of the youtube video */
iframe {
    max-width: 100%;
}

/* Better color for linked headers */
h1 a,
h2 a,
h3 a {
    color: #2e3440; /* body color */
}

.navbar-inverse .navbar-header > a.navbar-brand {
    opacity: 0.62;
}

.navbar-inverse .navbar-header > a.navbar-brand:hover,
.navbar-inverse .navbar-header > a.navbar-brand:focus {
    opacity: 1;
}

.navbar-inverse .navbar-header > a.navbar-brand.active,
.navbar-inverse .navbar-header > a.navbar-brand.active:hover,
.navbar-inverse .navbar-header > a.navbar-brand.active:focus {
    opacity: 1;
    color: #fff; /* body background-color */
    background-color: #2f435b; /* .navbar-inverse .navbar-nav > .active > a */
}

/* Position the irssi logo */
.navbar-brand img {
    margin-top: -14px;
}

footer {
    margin-top: 20ex;
}

/* Out of site link image */
a[rel="external"],a.rel-external {
  padding-right: 10px;
}

.navbar-nav a[rel="external"] {
  padding-right: 10px;
}

a[rel="external"]:after,a.rel-external:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
  padding-left: 2px;
  font-size: 51%;
}

a.link-icon:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
}

.table td.has-next-row,
.table th.has-next-row {
    padding-bottom: 0;
}

.table td.has-previous-row {
    border-top: 0;
    padding-top: 0;
}

.navbar-nav a[rel="external"]:after {
    font-size: 100%;
}

a[rel="external"]:hover:after,a.rel-external:hover:after {
  text-decoration: none;
}

/* Reduce navbar spacing on resolutions that are small,
   but not quite as small as the block below */
@media (max-width:1200px) and (min-width:991px) {
    .nav > li > a {
        padding-left: 8px;
	padding-right: 8px;
	font-size: 100%;
	letter-spacing: 0px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Reduce navbar spacing on small resolutions,
   to avoid wrapping */
@media (max-width:991px) and (min-width:768px) {
    .nav > li > a {
        padding-left: 6px;
        padding-right: 4px;
	font-size: 95%;
	letter-spacing: -0.2px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Tweak to make the menu visible (otherwise Bugs is cut off) */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 416px;
}


/* Select box for settings docs */
.col-xs-12.col-md-4 select {
    display: block;
    background: inherit;
    border: inherit;
    width: 11em;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #5e81ac; /* .text-primary */
}

select .header {
    text-align: center;
}

.welcome-img {
    background-image: url(../irssi2017.jpg);
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: cover;
    border: 5px solid black;
    box-shadow: 0px 0px 5px black, inset 0 0 10px white;
    border-radius: 10px;
    background-blend-mode: darken;
    transition-duration: 1s;
}

@media (min-width:992px) {
    .jumbotron.flex .row {
	display: flex;
    }
}

@media (max-width:991px) {
    .welcome-img {
	height: 350px;
    }
}

@media (max-width:767px) {
    .welcome-img {
	height: 250px;
    }
}

blockquote {
    font-size: inherit;
}

.gsearch-form input.form-control {
    width: 120px;
}

.twitter-timeline {
    height: 80vh !important;
}

.sticken {
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
}

.page > .sticken {
    overflow-y: auto;
}

/* news archive */
.container.home h3,
.container.home .h3 {
    font-size: 20px;
    font-weight: bold;
}

.container.home p + h2 {
    border-top: 2px solid #eceff4; /* .page-header (thicker) */
    padding-top: 20px;
}

.container.home hr {
    width: 70%;
}


/* download page */
.osicon, .obsicon {
    padding-right: 1ex;
    margin-bottom: 1ex;
}

.obsicon {
    float: left;
}

.dlc .osimg {
}

.dlc input {
    opacity: 0;
    position: fixed;
}
.dlc .info h3 {
    display: none;
}

.dlc .icon {
    display: inline-block;
    width: 105px;
    text-align: center;
    white-space: normal;
    margin-top: 1ex;
}

.dlc input:checked + label {
    background-color: #e6e6e6; /* .btn-default:focus */
}

.dlc input:focus + label {
    border: 1px dashed #81a1c1; /* .form-control:focus */
}

@media (max-width: 767px) {
    .irssi-release,.irssi-git { display: inline-block; }
}

.dlc .info, .dlc .obs-info { display: none; }
.row.obs-info, .row.obs-info .btn { font-size: small; }

.dlc input:nth-of-type(1):checked ~ .info:nth-of-type(1),
.dlc input:nth-of-type(2):checked ~ .info:nth-of-type(2),
.dlc input:nth-of-type(3):checked ~ .info:nth-of-type(3),
.dlc input:nth-of-type(4):checked ~ .info:nth-of-type(4),
.dlc input:nth-of-type(5):checked ~ .info:nth-of-type(5),
.dlc input:nth-of-type(6):checked ~ .info:nth-of-type(6),
.dlc input:nth-of-type(7):checked ~ .info:nth-of-type(7),
.dlc input:nth-of-type(8):checked ~ .info:nth-of-type(8),
.dlc input:nth-of-type(9):checked ~ .info:nth-of-type(9),
.dlc input:nth-of-type(10):checked ~ .info:nth-of-type(10),
.dlc input:nth-of-type(11):checked ~ .info:nth-of-type(11),
.dlc input:nth-of-type(12):checked ~ .info:nth-of-type(12),
.dlc input:nth-of-type(13):checked ~ .info:nth-of-type(13),
.dlc input:nth-of-type(14):checked ~ .info:nth-of-type(14),
.dlc input:nth-of-type(15):checked ~ .info:nth-of-type(15),
.dlc input:nth-of-type(16):checked ~ .info:nth-of-type(16),
.dlc input:nth-of-type(17):checked ~ .info:nth-of-type(17),
.dlc input:nth-of-type(18):checked ~ .info:nth-of-type(18),
.dlc input:nth-of-type(19):checked ~ .info:nth-of-type(19),
.dlc input ~ .no-info
{
    display: block;
    margin: 2em;
    padding: 1em;
    border: 1ex solid #f3dfb6; /* .bg-info color */
    border-radius: 4px; /* like .btn */
}

.dlc input ~ .no-info {
    border-color: #e3b7aa; /* a.bg-warning:hover color */
}
.dlc input:checked ~ .no-info { display: none; }

/* here the hard-coded item numbers which show obs download info */
.dlc input:nth-of-type(2):checked ~ .obs-info,
.dlc input:nth-of-type(3):checked ~ .obs-info,
.dlc input:nth-of-type(6):checked ~ .obs-info,
.dlc input:nth-of-type(7):checked ~ .obs-info,
.dlc input:nth-of-type(8):checked ~ .obs-info {
    display: block;
    padding: 1em;
}
/* no irssi-git for arch linux currently */
.dlc input:nth-of-type(7):checked ~ .obs-info .irssi-git { display: none; }


/* collapsing the about-page columns */
@media (min-width:992px) {
.two-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: balance;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: balance;
    column-count: 2;
    column-gap: 20px;
    column-fill: balance;
}
.two-column > div {
    display: inline-block;
}
}

.container.post > p,
.container.post > ul,
.container.post > blockquote,
.container.page > p,
.container.page > ul,
.container.page > ol,
.container.page > blockquote,
.container.page > dl {
    max-width: 730px;
}

.container.page > dl > dd {
    margin-left: 1em;
}

.container.page > h3 {
    max-width: 750px;
}

.container.post > .wide {
    max-width: 100%;
}

@media (min-width:768px) and (max-width: 991px) {
    .container.post > div > div.highlight,
    .container.page > div > div.highlight {
	display: inline-block;
	min-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.post > div > div.highlight,
    .container.page > div > div.highlight {
	display: inline-block;
	min-width: 730px;
    }
}
