a[title^="Permalink to this"]::after { content: "¶" }

.js-skip-to-content {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 16px !important;
    background-color: var(--color-highlighted-background) !important;
    color: var(--color-highlighted-text) !important;
}

.js-skip-to-content:focus {
    z-index: 50;
    width: auto;
    height: auto;
    clip: auto;
}

.welcome-img {
    width: 100%;
    max-width: 291px;
    height: 250px;
    background-image: url(irssi2017.jpg);
    filter: invert() hue-rotate(90deg);
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: cover;
    border: 5px solid black;
    box-shadow: 0px 0px 5px black, inset 0 0 10px white;
    border-radius: 10px;
}

.search .context br + br + br {
    display: block;
}

.welcome > .rubric {
    line-height: 1;
    margin-bottom: 0;
    font-size: 36px;
}
.welcome > .rubric + p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}
@media (min-width: 768px) {
    .welcome > .rubric {
	font-size: 63px;
    }
    .welcome > .rubric + p {
	font-size: 30px;
    }
}

.announcement-content p {
    white-space: normal;
}

.sidebar-brand-text {
    text-align: center;
}

.mobile-header .nav-overlay-icon .icon,
.mobile-header .toc-overlay-icon .icon,
.mobile-header .theme-toggle svg {
    color: var(--color-header-text);
}

.page .main,
.sidebar-drawer .sidebar-top {
    border-top: 10px solid var(--color-header-background);
}

.sidebar-drawer .sidebar-top {
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width: 67em) {
    .sidebar-drawer .sidebar-top {
	display: none;
    }
    .page .main,
    .sidebar-drawer .sidebar-top {
	border-top: 0;
    }
}

.synB { font-weight: bold; }
.synB05 { font-weight: bold; color: #bf616a; }
.syn13 { color: #b48ead; }
.syn14 { color: #4c566a; }
.syn10 { color: #3e6766; }
.syn09 { color: #719453; }

article table.align-default {
    margin-left: inherit;
}

td code.literal {
    white-space: pre;
}

div.irssisyntax {
    --cmdlen: 0ch;
}
div.irssisyntax pre {
    word-break: inherit;
    word-wrap: inherit;
    padding-left: 9.5px;
    white-space: pre-wrap;
}
@media (min-width: 768px) {
    div.irssisyntax pre {
	padding-left: calc(9.5px + 1ch + var(--cmdlen));
	text-indent: calc(0px - 1ch - var(--cmdlen));
    }
}

.rst-other-versions dd {
  display: inline-block;
  margin-left: 1ex;
}

.helpindex {
    width: 100%;
}
.helpindex > ul {
    column-gap: 3;
}
.helpindex > ul > li {
    display: inline-block;
    padding: 0 1em;
    min-width: 5em;
    width: auto;
    white-space: nowrap;
}
.sub.helpindex > ul > li {
    min-width: 10em;
}

img[src*="_dark."] {
    display: none;
}

@media not print {
body[data-theme=dark] object#fig_break_wide {
    filter: invert();
}
body[data-theme=dark] .welcome-img {
    filter: contrast(80%);
}
@media (prefers-color-scheme: dark) {
    body:not([data-theme=light]) object#fig_break_wide {
	filter: invert();
    }
    body:not([data-theme=light]) .welcome-img {
	filter: contrast(80%);
    }
}

body[data-theme=dark] img[src*="_dark."] {
    display: inherit;
}
body[data-theme=dark] img[src*="_light."] {
    display: none;
}
@media (prefers-color-scheme: dark) {
    body:not([data-theme=light]) img[src*="_dark."] {
	display: inherit;
    }
    body:not([data-theme=light]) img[src*="_light."] {
	display: none;
    }
}
}
