<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="page-content">
            <div class="container">
                <div class="col-xs-12 col-md-8">
                    {{ content }}
                </div>
                <div class="col-xs-12 col-md-4">
                    <h2>What's this?</h2>
                    <p>
                        You are visiting the official website for the IRC
                        client Irssi, for more information see the about
                        section.
                    </p>
                    <h4 style='margin-bottom:0'>Search this site</h4>
                    <div><script>
  (function() {
    var cx = '013138746835038969445:mlfkigveyj4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only></div>
                    <h4>What's new?</h4>
		    {% include sb_whatsnew.html %}
		    {% include sb_sidebar.html %}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
