<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="page-content">
            <div class="container {{page.layout}}">
                {% if page.sidebar %}
                <div class="col-xs-12 col-md-8">
                    {{ content }}
                </div>
                <div class="sticken col-xs-12 col-md-4">
                    <br />
		    {% if page.sidebar
                    %}{% include {{page.sidebar}}
		    %}{% endif %}
                </div>
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
