body {
}

.navbar-static-top {
    margin-bottom: 0;
}

div.jumbotron {
    padding-top: 16px;
}

.jumbotron h1 {
/*font-size: 36px;*/
    margin-bottom: 0;
}
.jumbotron p {
    font-size: 18px;
}
p {
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
p.raggedright,
.raggedright p {
    text-align: inherit;
    hyphens: inherit;
    -moz-hyphens: inherit;
    -webkit-hyphens: inherit;
    -ms-hyphens: inherit;
}
p.center {
    text-align: center;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.jumbotron h1, .jumbotron h2 {
    line-height: 1;
    margin-top: 0;
    text-align: center;
}

/* collapsible navbar css */
#navbar-toggle-cbox {
    display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* center buttons in xs view */
@media (max-width: 767px) {
    .jumbotron .col-xs-11 p {
	text-align: center;
    }
}

/* there is this weird issue with above code making links not clickable below anchors... */
*[id]:not(button):not(input):not([href]):not(#navbar),
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: inherit;
}
#___gcse_0:before { display: inline; }
#___gcse_0 div.gsc-adBlock { display: none ! important; }

#___gcse_0 .gsc-cursor-page {
    border-width: 1px;
    border-style: solid;
    padding: 6px 12px;
    margin-left: -1px;
    margin-right: 0;
    border-collapse: collapse;
    color: #5e81ac;
    background-color: #fff;
    border-color: #d8dee9;
}
#___gcse_0 .gsc-cursor-page:hover,
#___gcse_0 .gsc-cursor-page:focus,
#___gcse_0 .gsc-cursor-current-page {
    background-color: #5e81ac;
    color: #fff;
}


/* This is for mobile devices and the size of the youtube video */
iframe {
    max-width: 100%;
}

/* Better color for linked headers */
h1 a,
h2 a,
h3 a {
    color: #2e3440; /* body color */
}

.navbar-inverse .navbar-header > a.navbar-brand {
    opacity: 0.62;
}

.navbar-inverse .navbar-header > a.navbar-brand:hover,
.navbar-inverse .navbar-header > a.navbar-brand:focus {
    opacity: 1;
}

.navbar-inverse .navbar-header > a.navbar-brand.active,
.navbar-inverse .navbar-header > a.navbar-brand.active:hover,
.navbar-inverse .navbar-header > a.navbar-brand.active:focus {
    opacity: 1;
    color: #fff; /* body background-color */
    background-color: #2f435b; /* .navbar-inverse .navbar-nav > .active > a */
}

/* Position the irssi logo */
.navbar-brand img {
    margin-top: -14px;
}

footer {
    margin-top: 20ex;
}

/* Out of site link image */
a[rel="external"],a.rel-external {
  padding-right: 10px;
}

.navbar-nav a[rel="external"] {
  padding-right: 10px;
}

a[rel="external"]:after,a.rel-external:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
  padding-left: 2px;
  font-size: 51%;
}

a.link-icon:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
}

.navbar-nav a[rel="external"]:after {
    font-size: 100%;
}

a[rel="external"]:hover:after,a.rel-external:hover:after {
  text-decoration: none;
}

/* next / previous blog post links */
.post nav {
    font-size: 14px;
    display: block;
    width: auto;
    max-width: 750px;
    overflow: hidden;
}

.post nav > a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.post nav > .prev {
    float: right;
    text-align: right;
}

.post nav > .next::before {
    content: "« ";
}

.post nav > .prev::after {
    content: " »";
}

/* Reduce navbar spacing on resolutions that are small,
   but not quite as small as the block below */
@media (max-width:1200px) and (min-width:991px) {
    .nav > li > a {
        padding-left: 8px;
	padding-right: 8px;
	font-size: 100%;
	letter-spacing: 0px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Reduce navbar spacing on small resolutions,
   to avoid wrapping */
@media (max-width:991px) and (min-width:768px) {
    .nav > li > a {
        padding-left: 6px;
        padding-right: 4px;
	font-size: 95%;
	letter-spacing: -0.2px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Tweak to make the menu visible (otherwise Bugs is cut off) */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 416px;
}


/* Select box for settings docs */
.col-xs-12.col-md-4 select {
    display: block;
    background: inherit;
    border: inherit;
    width: 11em;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #5e81ac; /* .text-primary */
}

select .header {
    text-align: center;
}

.table td.has-next-row,
.table th.has-next-row {
    padding-bottom: 0;
}

.table td.has-previous-row {
    border-top: 0;
    padding-top: 0;
}

.welcome-img {
    background-image: url(../irssi2017.jpg);
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: cover;
    border: 5px solid black;
    box-shadow: 0px 0px 5px black, inset 0 0 10px white;
    border-radius: 10px;
    background-blend-mode: darken;
    transition-duration: 1s;
}

.page-content > .container > .jumbotron.flex {
    /* offset for the brand icon */
    margin-left: -15px;
}
@media (max-width: 767px) {
    .page-content > .container > .jumbotron.flex {
	/* flush to right */
	margin-right: -15px;
    }
}

@media (min-width:992px) {
    .jumbotron.flex .row {
	display: flex;
    }
}

@media (max-width:991px) {
    .welcome-img {
	height: 350px;
    }
}

@media (max-width:767px) {
    .welcome-img {
	height: 250px;
    }
}

blockquote {
    font-size: inherit;
}

input.form-control {
    color: inherit;
}

.gsearch-form input.form-control {
    width: 120px;
}

.twitter-timeline {
    height: 80vh !important;
}

.sticken {
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
}

.container > .sticken > .default-sidebar {
    height: calc(100vh - 74px);
    overflow-y: auto;
}

/* news archive */
.container.home h3,
.container.home .h3 {
    font-size: 20px;
    font-weight: bold;
}

.container.home > div > :not(h1):not(nav) + h2,
.container.home > :not(h1) + h2 {
    border-top: 2px solid #eceff4; /* .page-header (thicker) */
    padding-top: 20px;
}

.container.home > div > nav + h2 {
    margin-top: 0;
}

.container.relnews > div > hr,
.container.relnews > hr {
    border-top: 2px solid #eceff4; /* .page-header (thicker) */
    max-width: 730px;
    margin-left: 0;
}

.container.home hr {
    width: 70%;
}


/* collapsing the about-page columns */
@media (min-width:992px) {
    .two-column {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-moz-column-fill: balance;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-webkit-column-fill: balance;
	column-count: 2;
	column-gap: 20px;
	column-fill: balance;
    }
    .two-column > div {
	display: inline-block;
    }
}

/* width restricted container */
.container.wrc > blockquote,
.container.wrc > div > blockquote,
.container.wrc > div > dl,
.container.wrc > div > ol,
.container.wrc > div > p,
.container.wrc > div > ul,
.container.wrc > div > .table,
.container.wrc > dl,
.container.wrc > ol,
.container.wrc > p,
.container.wrc > ul {
    max-width: 730px;
}

.container.wrc > div > dl > dd,
.container.wrc > dl > dd {
    margin-left: 1em;
}

.container.wrc > div > h3,
.container.wrc > h3 {
    max-width: 750px;
}

.container.wrc > div > .wide,
.container.wrc > div > .table.wide,
.container.wrc > .wide {
    max-width: 100%;
}

@media (min-width:768px) and (max-width: 991px) {
    .container.wrc > div > div > div.highlight,
    .container.wrc > div > div.highlight {
	display: inline-block;
	min-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.wrc > div > div > div.highlight,
    .container.wrc > div > div.highlight {
	display: inline-block;
	min-width: 730px;
    }
}

/* Security advisories */
.container.security_html > div > ol > li:empty,
.container.security_html > ol > li:empty {
    visibility: hidden;
    height: 0;
}

.container.security_html > div > ol > li::before,
.container.security_html > ol > li::before {
    content: "(  )"; position: absolute; margin-left:-1.5em;
    white-space: pre;
}

.container.security_html > div > ol,
.container.security_html > ol {
    list-style-type: lower-alpha;
    list-style-position: outside;
}

.container.security_html .references > ol > li::before {
    content: "[  ]"; position: absolute; margin-left:-1.4em;
    white-space: pre;
}

h3.collapsed {
    font-size: 16px;
    margin-bottom: 0;
}

/* * * * */
code {
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

/* dark rule on heading */
div.container > div > h1:nth-child(1),
div.container > h1:nth-child(1) {
    color: #eceff4; /* @gray-lighter */
    background-color: #2e3440; /* @gray-base */
    padding-bottom: 10px; margin-bottom: 5px;
}

div.container > div > h1:nth-child(1) {
    margin-left: -30px; margin-right: -30px;
    padding-left: 30px; padding-right: 30px;
}

div.container > h1:nth-child(1) {
    margin-left: -15px; margin-right: -15px;
    padding-left: 15px; padding-right: 15px;
}

div.toprule {
    color: #eceff4; /* @gray-lighter */
    background-color: #2e3440; /* @gray-base */
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: -1;
}

.default-sidebar {
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 1px;
    margin-right: -15px;
    padding-right: 15px;
    margin-top: 4px;
}

.synB { font-weight: bold; }
.synB05 { font-weight: bold; color: #bf616a; }
.syn13 { color: #b48ead; }
.syn14 { color: #4c566a; }
.syn10 { color: #3e6766; }
.syn09 { color: #719453; }

div.version > ul {
    padding-left: 0;
}
div.version > ul > li::before {
    content: "[ ";
    white-space: nowrap;
}
div.version > ul > li::after {
    content: " ]";
    white-space: nowrap;
}
div.version > ul > li + li::before {
    content: " - [ ";
    white-space: nowrap;
}
div.version > ul > li {
    display: inline-block;
    width: auto;
}

table.kv > tbody > tr > td:first-child {
    white-space: nowrap;
}
body,
.jumbotron {
    transition: opacity 300ms linear, color 150ms, background-color 150ms, border-color 150ms;
}
@media (prefers-color-scheme: dark) {
    body {
	background-color: #2e3440;
	color: #ffffff;
    }
    .jumbotron {
	background-color: #434c5e;
    }
    .btn-default,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
	background-color: #3b4252;
    }
    .btn-default {
	color: #e6e6e6;
    }
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
	color: #ffffff;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .dlc input:checked + label {
	color: #ffffff;
	background-color: #466387;
    }
    code,
    pre {
	background-color: #1d232e;/*#3b4252*/;
	color: #eceff4;
    }
    .default-sidebar {
	background-color: #2e3440;
    }
    .pagination > li > a,
    .pagination > li > span,
    .col-xs-12.col-md-4 select,
    a {
	color: #8699bb;
    }
    a:hover,
    a:focus {
	color: #5e81ac;
    }
    h1 a,
    h2 a,
    h3 a {
	color: #fff; /* body color */
    }
    .pagination > li > a,
    .pagination > li > span {
	background-color: #2e3440;
	border-color: #3b4252;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
	background-color: #405c7d;
	color: #fff;
	border-color: #466387;
    }
    .navbar-form .form-control {
	background-color: #3b4252;
    }
    div.toprule,
    div.container > div > h1:nth-child(1), div.container > h1:nth-child(1) {
	background-color: #3b4252;
    }
    hr,
    blockquote,
    .container.home > div > :not(h1):not(nav) + h2, .container.home > :not(h1) + h2,
    .container.relnews > div > hr, .container.relnews > hr,
    .table > tbody + tbody,
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
	border-color: #3b4252;
    }
    object#fig_break_wide {
	filter: invert();
    }
    #___gcse_0 .gsc-input {
	background-color: #3b4252 !important;
    }
    #___gcse_0 .gsc-webResult.gsc-result,
    #___gcse_0 .gsc-control-cse,
    #___gcse_0 .gsc-results {
	background-color: #2e3440;
	color: #ffffff;
    }
    #___gcse_0 .gsc-webResult.gsc-result {
	border-color: #2e3440;
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title,
    #___gcse_0 .gs-webResult.gs-result a.gs-title b,
    #___gcse_0 .gs-imageResult a.gs-title,
    #___gcse_0 .gs-imageResult a.gs-title b {
	font-weight: 800;
    }
    #___gcse_0 .gs-webResult div.gs-visibleUrl,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:visited,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:visited b,
    #___gcse_0 .gs-imageResult a.gs-title:visited,
    #___gcse_0 .gs-imageResult a.gs-title:visited b {
	color: #e6e6e6;
    }
    #___gcse_0 .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,
    #___gcse_0 .gs-webResult .gs-per-result-labels .gs-label {
	color: #fff;
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title:link,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:link b,
    #___gcse_0 .gs-imageResult a.gs-title:link,
    #___gcse_0 .gs-imageResult a.gs-title:link b {
	color: #fff;
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title:hover,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:hover b,
    #___gcse_0 .gs-imageResult a.gs-title:hover,
    #___gcse_0 .gs-imageResult a.gs-title:hover b {
	color: #5e81ac;
    }
    #___gcse_0 .gsc-cursor-page {
	background-color: #2e3440;
	border-color: #3b4252;
    }
    #___gcse_0 .gsc-cursor-page:hover,
    #___gcse_0 .gsc-cursor-page:focus,
    #___gcse_0 .gsc-cursor-current-page {
	background-color: #405c7d;
	border-color: #466387;
    }
}
