html {
    --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
		  sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: inherit;
}

body {
    font-family: var(--font-stack);
    font-size: inherit;
}

footer {
    font-size: 12.25px;
}

.navbar .nav {
    font-size: 14px;
}

.navbar-toggle {
    float: left;
}

.navbar-brand {
    float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* make the font slightly bigger on big screens */
@media (min-width: 97em) {
    html {
	font-size: 110%;
    }
}

.navbar-static-top {
    margin-bottom: 0;
}

div.jumbotron {
    padding-top: 16px;
}

.jumbotron h1 {
/*font-size: 36px;*/
    margin-bottom: 0;
}
.jumbotron p {
    font-size: 18px;
}
p {
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
p.raggedright,
.raggedright p {
    text-align: inherit;
    hyphens: inherit;
    -moz-hyphens: inherit;
    -webkit-hyphens: inherit;
    -ms-hyphens: inherit;
}
p.center {
    text-align: center;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.jumbotron h1, .jumbotron h2 {
    line-height: 1;
    margin-top: 0;
    text-align: center;
}

/* collapsible navbar css */
#navbar-toggle-cbox {
    display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* center buttons in xs view */
@media (max-width: 767px) {
    .jumbotron .col-xs-11 p {
	text-align: center;
    }
}

/* there is this weird issue with above code making links not clickable below anchors... */
*[id]:not(button):not(input):not([href]):not(#navbar),
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: inherit;
}
#___gcse_0:before { display: inline; }
#___gcse_0 div.gsc-adBlock { display: none ! important; }

#___gcse_0 .gsc-cursor-page {
    border-width: 1px;
    border-style: solid;
    padding: 6px 12px;
    margin-left: -1px;
    margin-right: 0;
    border-collapse: collapse;
    color: #5e81ac;
    background-color: #fff;
    border-color: #d8dee9;
}
#___gcse_0 .gsc-cursor-page:hover,
#___gcse_0 .gsc-cursor-page:focus,
#___gcse_0 .gsc-cursor-current-page {
    background-color: #5e81ac;
    color: #fff;
}


/* This is for mobile devices and the size of the youtube video */
iframe {
    max-width: 100%;
}

/* Better color for linked headers */
h1 a,
h2 a,
h3 a {
    color: #2e3440; /* body color */
}

.navbar-inverse .navbar-header > a.navbar-brand {
    opacity: 0.62;
}

.navbar-inverse .navbar-header > a.navbar-brand:hover,
.navbar-inverse .navbar-header > a.navbar-brand:focus {
    opacity: 1;
}

.navbar-inverse .navbar-header > a.navbar-brand.active,
.navbar-inverse .navbar-header > a.navbar-brand.active:hover,
.navbar-inverse .navbar-header > a.navbar-brand.active:focus {
    opacity: 1;
    color: #fff; /* body background-color */
    background-color: #2f435b; /* .navbar-inverse .navbar-nav > .active > a */
}

/* Position the irssi logo */
.navbar-brand img {
    margin-top: -14px;
}

footer {
    margin-top: 20ex;
}

/* Out of site link image */
a[rel="external"],a.rel-external {
  padding-right: 10px;
}

.navbar-nav a[rel="external"] {
  padding-right: 10px;
}

a[rel="external"]:after,a.rel-external:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
  padding-left: 2px;
  font-size: 51%;
}

a.link-icon:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
}

.navbar-nav a[rel="external"]:after {
    font-size: 100%;
}

a[rel="external"]:hover:after,a.rel-external:hover:after {
  text-decoration: none;
}

/* Reduce navbar spacing on resolutions that are small,
   but not quite as small as the block below */
@media (max-width: 1200px) and (min-width: 991px) {
    .nav > li > a {
        padding-left: 8px;
	padding-right: 8px;
	font-size: 100%;
	letter-spacing: 0px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Reduce navbar spacing on small resolutions,
   to avoid wrapping */
@media (max-width: 991px) and (min-width: 768px) {
    .nav > li > a {
        padding-left: 6px;
        /*padding-right: 4px;*/
	/*font-size: 95%;*/
	letter-spacing: -0.2px;
    }
    .nav > li > a[rel="external"] {
        padding-right: 18px;
    }
}

/* Tweak to make the menu visible (otherwise Bugs is cut off) */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 416px;
}


.welcome-img {
    background-image: url(../irssi2017.jpg);
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: cover;
    border: 5px solid black;
    box-shadow: 0px 0px 5px black, inset 0 0 10px white;
    border-radius: 10px;
    background-blend-mode: darken;
    transition-duration: 1s;
}

.page-content > .container > .jumbotron.flex {
    /* offset for the brand icon */
    margin-left: -15px;
}
@media (max-width: 767px) {
    .page-content > .container > .jumbotron.flex {
	/* flush to right */
	margin-right: -15px;
    }
}

@media (min-width: 992px) {
    .jumbotron.flex .row {
	display: flex;
    }
}

@media (max-width: 991px) {
    .welcome-img {
	height: 350px;
    }
}

@media (max-width: 767px) {
    .welcome-img {
	height: 250px;
    }
}

blockquote {
    font-size: inherit;
}

input.form-control {
    color: inherit;
}

.gsearch-form input.form-control {
    width: 120px;
}

/* * * * */
code {
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.synB { font-weight: bold; }
.synB05 { font-weight: bold; color: #bf616a; }
.syn13 { color: #b48ead; }
.syn14 { color: #4c566a; }
.syn10 { color: #3e6766; }
.syn09 { color: #719453; }

body,
.jumbotron {
    transition: opacity 300ms linear, color 150ms, background-color 150ms, border-color 150ms;
}
@media (prefers-color-scheme: dark) {
    body {
	background-color: #131416;/*#2e3440*/
	color: #ffffff;
    }
    .jumbotron {
	background-color: #434c5e;
    }
    .btn-default,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
	background-color: #3b4252;
    }
    .btn-default {
	color: #e6e6e6;
    }
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
	color: #ffffff;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
	color: #ffffff;
	background-color: #466387;
    }
    code,
    pre {
	background-color: #1d232e;/*#3b4252*/;
	color: #eceff4;
    }
    a:hover,
    a:focus {
	color: #5e81ac;
    }
    h1 a,
    h2 a,
    h3 a {
	color: #fff; /* body color */
    }
    h1 a:hover, h1 a:focus,
    h2 a:hover, h2 a:focus,
    h3 a:hover, h3 a:focus {
	color: #d8dee9;
    }
    .navbar-form .form-control {
	background-color: #3b4252;
    }
    hr,
    blockquote {
	border-color: #3b4252;
    }
    #___gcse_0 .gsc-input {
	background-color: #3b4252 !important;
    }
    #___gcse_0 .gsc-control-cse {
	border-color: #131416;/*#2e3440*/
    }
    #___gcse_0 .gsc-webResult.gsc-result,
    #___gcse_0 .gsc-control-cse,
    #___gcse_0 .gsc-results {
	background-color: #131416;/*#2e3440*/
	color: #ffffff;
    }
    #___gcse_0 .gsc-webResult.gsc-result {
	border-color: #131416;/*#2e3440*/
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title,
    #___gcse_0 .gs-webResult.gs-result a.gs-title b,
    #___gcse_0 .gs-imageResult a.gs-title,
    #___gcse_0 .gs-imageResult a.gs-title b {
	font-weight: 800;
    }
    #___gcse_0 .gs-webResult div.gs-visibleUrl,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:visited,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:visited b,
    #___gcse_0 .gs-imageResult a.gs-title:visited,
    #___gcse_0 .gs-imageResult a.gs-title:visited b {
	color: #e6e6e6;
    }
    #___gcse_0 .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,
    #___gcse_0 .gs-webResult .gs-per-result-labels .gs-label {
	color: #fff;
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title:link,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:link b,
    #___gcse_0 .gs-imageResult a.gs-title:link,
    #___gcse_0 .gs-imageResult a.gs-title:link b {
	color: #fff;
    }
    #___gcse_0 .gs-webResult.gs-result a.gs-title:hover,
    #___gcse_0 .gs-webResult.gs-result a.gs-title:hover b,
    #___gcse_0 .gs-imageResult a.gs-title:hover,
    #___gcse_0 .gs-imageResult a.gs-title:hover b {
	color: #5e81ac;
    }
    #___gcse_0 .gsc-cursor-page {
	background-color: #131416;/*#2e3440*/
	border-color: #3b4252;
    }
    #___gcse_0 .gsc-cursor-page:hover,
    #___gcse_0 .gsc-cursor-page:focus,
    #___gcse_0 .gsc-cursor-current-page {
	background-color: #405c7d;
	border-color: #466387;
    }
}
